{% extends 'NaissanceUserBundle::layout.html.twig' %}

{% block title %}Login{% endblock%}

{% block fos_user_content %}

{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<div class="container">

	<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">

		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		<h2 class="form-signin-heading">Please sign in</h2>

		<label for="username" class="sr-only" for="inputUsername">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
		<input type="text" id="inputUsername" name="_username" class="form-control" value="{{ last_username }}" placeholder="Username" required="required" autofocus />

		<label for="inputPassword" class="sr-only">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
		<input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>

		<div class="checkbox">
		  <label>
		    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
		  </label>
		</div>

		<button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" type="submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>

	</form>


</div> <!-- /container -->

{% endblock fos_user_content %}
