{% extends '::base.html.twig' %}

{% block body -%}
    <!--<h1>Wishlist list</h1>-->

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for wishlist in wishlists %}
            <tr>
                <td><a href="{{ path('wishlist_show', { 'wishlistId': wishlist.id }) }}">{{ wishlist.id }}</a></td>
                <td>{{ wishlist.title }}</td>
                <td><a href="{{ path('wishlist_show', { 'wishlistId': wishlist.id }) }}">show</a></td>
                <td><a href="{{ path('wishlist_edit', { 'wishlistId': wishlist.id }) }}">edit</a></td>
                <td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('wishlist_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>


    <br />

{% endblock %}
